body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


img {
    padding: 3em;
    width: 300px;
    filter: blur(10px);
    transition: 500ms filter,  1s transform 300ms;
}

img:hover {
    filter:blur(0px);
    transform: rotate(720deg); 
}